# Node.js
node_modules/

# Logs
*.log

# Dependency directories
node_modules/

# Environment files
.env

# Operating System files
.DS_Store
Thumbs.db

# IDE or editor-specific files
.vscode/
.idea/
